@import "tailwindcss";

/* Scrollbar size */
::-webkit-scrollbar {
    width: 10px;
}

/* Scrollbar background */
::-webkit-scrollbar-track {
    background: theme(colors.slate.600);
}

/* Scrollbar color */
::-webkit-scrollbar-thumb {
    background: theme(colors.cyan.700)
}